<!DOCTYPE html>
<html lang="en">
<head>
    <title>The Queen's Fort</title>
    <link rel="stylesheet" href="styles.css"/>
</head>
<body>
    <header class="dashboard-header">
        <div class="dashboard">
            <h1>Welcome to The Queen's Fort Luxury Hotel</h1>

            <nav class = "db_home">
                <ul>
                <li><a href="/home">Home</a></li>
                </ul>
                </nav>
            
        </div>
    </header>
    <div class="container">
        <section>
            <div class="box">
                <img src="https://images.unsplash.com/photo-1664858210082-de00850928c4?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Image 1">
                <div class="content">
                    <h2>Book a reservation</h2>
                    <button type="submit" class="book">Click to book</button>
                </div>
            </div>
            <div class="box">
                <img src="https://images.unsplash.com/photo-1602081112620-4da569dda684?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Image 2">
                <div class="content">
                    <h2>Reserve a spot in our five-star restaurant</h2>
                    <button type="submit" class="book">Click to book</button>
                </div>
            </div>
        </section>
        <section>
            <div class="box">
                <img src="https://images.unsplash.com/photo-1621020512837-280d1c1ccc7b?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Image 3">
                <div class="content">
                    <h2>Book a reservation for our conference hall</h2>
                    <button type="submit" class="book">Click to book</button>
                </div>
            </div>
            <div class="box">
                <img src="https://images.pexels.com/photos/265152/pexels-photo-265152.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Image 4">
                <div class="content">
                    
                    <button type="submit" class="book">Contact Us</button>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
