
<head>
    <title>The Queen's Fort</title>
    <link rel="stylesheet" href="styles.css"/>
</head>
<header>
    <div class="header-content">
        <h1>The Queen's Fort</h1>
        <nav>
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="/signup">SignUp</a></li>
                <li><a href="/Login">Login</a></li>
            </ul>
        </nav>
    </div>
</header><br>

<div class="container">
    <section>
        <div class="box">
            <img src="https://images.pexels.com/photos/271624/pexels-photo-271624.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Image 1">
            <div class="content">
                <h2>Luxurious rooms</h2>
                <p>Indulge in opulent comfort at our luxurious hotel rooms. Experience lavish amenities, breathtaking views, and unparalleled service.
                    Every moment promises unparalleled relaxation and sophistication</p>
            </div>
        </div>
        <div class="box">
            <img src="https://images.pexels.com/photos/7046168/pexels-photo-7046168.jpeg" alt="Image 2">
            <div class="content">
                <h2>Conference room</h2>
                <p>Elevate your business events in our conference room, where sophistication meets functionality. Host productive meetings and memorable gatherings in a refined setting equipped with state-of-the-art technology. 
                    Experience unparalleled service and attention to detail as you inspire success in every event.</p>
            </div>
        </div>
    </section>
    <section>
        <div class="box">
            <img src="https://images.pexels.com/photos/261169/pexels-photo-261169.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Image 3">
            <div class="content">
                <h2>Beautiful poolside</h2>
                <p>Relax and bask in the sun by our luxurious poolside, where tranquility meets elegance. Dive into crystal-clear waters or lounge in comfort while sipping on refreshing cocktails served with a smile. 
                    Enjoy panoramic views and unparalleled serenity in our exclusive poolside oasis.</p>
            </div>
        </div>
        <div class="box">
            <img src="https://images.pexels.com/photos/262978/pexels-photo-262978.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Image 4">
            <div class="content">
                <h2>Five-star restaurant</h2>
                <p>Experience a culinary journey at our restaurant, where exquisite flavors and impeccable service await. Savor gourmet delights crafted by world-renowned chefs using the freshest ingredients sourced locally and globally.
                     Immerse yourself in an ambiance of elegance and sophistication as you dine in style and create unforgettable memories.</p>
            </div>
        </div>
    </section>
</div>